<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Payson_Payson>
            <version>1.2.6</version>
        </Payson_Payson>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Payson_Payson before="Mage_Adminhtml">Payson_Payson_Adminhtml</Payson_Payson>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <payson>
                <class>Payson_Payson_Block</class>
            </payson>
        </blocks>
        <models>
            <payson>
                <class>Payson_Payson_Model</class>
            </payson>
        </models>
        <helpers>
            <payson>
                <class>Payson_Payson_Helper</class>
            </payson>
        </helpers>
        <resources>
            <payson_setup>
                <setup>
                    <module>Payson_Payson</module>
                    <class>Payson_Payson_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payson_setup>
            <payson_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </payson_write>
            <payson_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </payson_read>
        </resources>
        <sales>
            <quote>
                <totals>
                    <payson_invoice>
                        <class>payson/quote_address_total_invoice</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                    </payson_invoice>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <payson_invoice>
                        <class>payson/order_invoice_total_invoice</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                    </payson_invoice>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <payson_invoice>
                        <class>payson/order_creditmemo_total_invoice</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                    </payson_invoice>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <base_payson_invoice_fee>
                    <to_order>*</to_order>
                </base_payson_invoice_fee>
                <payson_invoice_fee>
                    <to_order>*</to_order>
                </payson_invoice_fee>
            </sales_convert_quote_address>
        </fieldsets>
    </global>
    <frontend>
        <secure_url>
            <payson_checkout>/payson/checkout</payson_checkout>
        </secure_url>
        <routers>
            <payson>
                <use>standard</use>
                <args>
                    <module>Payson_Payson</module>
                    <frontName>payson</frontName>
                </args>
            </payson>
        </routers>
        <translate>
            <modules>
                <Payson_Payson>
                    <files>
                        <default>Payson_Payson.csv</default>
                    </files>
                </Payson_Payson>
            </modules>
        </translate>
        <layout>
            <updates>
                <Payson_Payson>
                    <file>Payson.xml</file>
                </Payson_Payson>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Payson_Payson>
                    <files>
                        <default>Payson_Payson.csv</default>
                    </files>
                </Payson_Payson>
            </modules>
        </translate>
        <layout>
            <updates>
                <Payson_Payson>
                    <file>Payson.xml</file>
                </Payson_Payson>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <payson_standard>
                <test_mode>0</test_mode>
                <active>0</active>
                <model>payson/method_standard</model>
                <payment_action>authorize</payment_action>
                <order_status>pending_payment</order_status>
                <payment_guarantee>1</payment_guarantee>
                <restore_on_cancel>1</restore_on_cancel>
                <restore_on_error>1</restore_on_error>
            </payson_standard>
            <payson_invoice>
                <active>0</active>
                <activate_invoice>1</activate_invoice>
                <model>payson/method_invoice</model>
                <payment_action>authorize</payment_action>
                <order_status>pending</order_status>
                <invoice_fee_sek>0</invoice_fee_sek>
                <invoice_fee_eur>0</invoice_fee_eur>
            </payson_invoice>
        </payment>
    </default>
</config>

